body {
  font-family: sans-serif;
}

#gameCanvas {
  float: left;
  margin-right: 15px;
}

button, #messageBox, #actionBox {
  font-size: 16px;
  margin-top: 15px;
}
#messageBox {
  line-height: 24px;
}

#actionBox {
  color: #333;
}
.action {
  display: inline-block;
  position: relative;
}
.action .arrow {
  display: inline-block;
  padding: 0 2px;
  font-size: 24px;
}
.action .tick {
  font-size: 10px;
  position: absolute;
  bottom: -10px;
  left: -2px;
  color: #ddd;
}
.action.north .arrow {
  transform: rotate(0.75turn);
}
.action.east .arrow {
  transform: rotate(0.00turn);
}
.action.south .arrow {
  transform: rotate(0.25turn);
}
.action.west .arrow {
  transform: rotate(0.50turn);
}
.action.backward .arrow {
  color: #ddd;
}
.action.overridden .arrow {
  color: #f8898c;
}
