body {
  font-family: sans-serif;
}

#gameCanvas {
  float: left;
  margin-right: 15px;
}

button, #currentLevel, #spareLives, #levelTarget, #message, #actionBox {
  font-size: 16px;
  margin-top: 15px;
}
#message {
}

#levelTarget {
  margin-top: 5px;
  font-family: monospace;
  font-size: 25px;
  line-height: 16px;
  width: 200px;
  display: inline-block;
  word-wrap: break-word;
}

#levelTarget .segment {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 1px;
  border: 1px solid #888;
  background: #fff;
}
#levelTarget .achieved {
  border: 1px solid #333;
  background: #333;
}

#actionBox {
  color: #333;
}
.action {
  display: inline-block;
  position: relative;
}
.action .arrow {
  display: inline-block;
  padding: 0 2px;
  font-size: 24px;
}
.action .tick {
  font-size: 10px;
  position: absolute;
  bottom: -10px;
  left: -2px;
  color: #ddd;
}
.action.north .arrow {
  transform: rotate(0.75turn);
}
.action.east .arrow {
  transform: rotate(0.00turn);
}
.action.south .arrow {
  transform: rotate(0.25turn);
}
.action.west .arrow {
  transform: rotate(0.50turn);
}
.action.backward .arrow {
  color: #eee;
}
.action.forward .arrow {
  color: #bbb;
}
.action.overridden .arrow {
  color: #f8898c;
}
